
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load socialaccount %}
</head>
<body>
    <form action="/login/" method="post">
        {% csrf_token %}
        <h7>Username</h7><br>
        <input type="text" name="username"><br><br>
        <!-- <h7>Email</h7><br> -->
        <!-- <input type="text" name="email"><br><br>
        <h7>Password</h7><br> -->
        <input type="password" name="password"><br><br> 
        <!-- <a href="password_reset/">Forgot Password?</a><br> -->
        <br><input type="submit">
    </form>
</body>
</html>